name: Build & Test (CI)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.0'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

  lint:
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.0'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.18.0'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Generate test SSL certificates
        run: yarn generate-test-ssl

      - name: Test
        run: yarn test
        env:
          MASTER_BITGO_EXPRESS_KEYPATH: ./test-ssl-key.pem
          MASTER_BITGO_EXPRESS_CRTPATH: ./test-ssl-cert.pem
          MTLS_ENABLED: true
          MTLS_REQUEST_CERT: true
          MTLS_REJECT_UNAUTHORIZED: false 