name: on_pr
run-name: 'on_pr: ${{ github.event.pull_request.number }}'

on:
  pull_request:

permissions:
  actions: read # required by BitGo/build-system
  contents: read # required by BitGo/build-system
  id-token: write # required by BitGo/build-system
  pull-requests: write # required by Grype PR commenter
  packages: read # required for ArgoCD deploy

jobs:
  build-and-test:
    name: Build & Test (CI)
    uses: ./.github/workflows/build-and-test.yaml
    secrets:
      fossa-api-key: ${{ secrets.FOSSA_API_KEY }}

  audit-api-spec:
    name: Audit API spec
    uses: BitGo/gha-dev-portal-updater/.github/workflows/audit-api-spec.yaml@v5
    with:
      repo_name: advanced-wallets
      api_spec_path: ./src/masterBitgoExpress/routers/index.ts
      service_file_name: advanced-wallets

  build-docker-image:
    name: Build the Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: |
            ghcr.io/bitgo/advanced-wallets:${{ github.sha }}
          build-args: |
            BUILD_VERSION=${{ github.sha }}
            BUILD_DATE=${{ github.event.repository.updated_at }}
            VCS_REF=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
