---
name: Release

permissions:
  # Required by AWS CodeArtifact
  id-token: write

  # Required by semantic-release
  contents: write
  pull-requests: write
  issues: write

on:
  push:
    branches:
      - master
      - next
      - next-major
      - beta
      - alpha
      - "[0-9]+.[0-9]+.x"
      - "[0-9]+.x"

jobs:
  release:
    uses: BitGo/gha-release-typescript-library/.github/workflows/release.yml@v3
    with:
      lint-node-version: '22.x'
      test-node-versions: '["22.x"]'
      release-node-version: '22.x'
      build-command: 'yarn build'
      test-command: 'yarn test'
      allow-postinstall-scripts: false